
# Flutter / Dart
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# Android
android/.gradle/
android/local.properties
android/app/google-services.json

# iOS
ios/Pods/
ios/Runner/GoogleService-Info.plist

# Build artifacts
build 2/

# Mac OS
.DS_Store
**/.DS_Store

# Editor / IDE
.vscode/
.idea/

# Logs
*.log
flutter_*.log